h1{
    font-size: 5rem;
    text-align: top;
    text-align: center;
    font: bold;
    font-style: bold;
    color: white;
    text-decoration: underline;
}
body{
  background-image: url("https://scontent.fsgn6-2.fna.fbcdn.net/v/t39.30808-6/277131049_361576455863695_2391171769045898924_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=4efYgqjc7jEAX_vdi-T&_nc_ht=scontent.fsgn6-2.fna&oh=00_AfCrNn5hAwLLJtgvBfwVc0V7uN6YqvpQU-8ybBZjGjEmOA&oe=6487BDBC");
}
img{
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

button{
    display: flex;
    margin:0 auto;
    align-items:center;
    size: 2rem;
    font-style: Anton;
    font: bold;
    color: white;
    text-align: top;
      background-color:rgb(95, 174, 206) ; /* Green */
  border: none;
  color: white;
  padding: 30px 80px;
  font-size: 25px;
  margin-top: 20mm;
}
#yt{
    display: flex;
    margin:0 auto;
    align-items:center;
    size: 2rem;
    font-style: Anton;
    font: bold;
    color: white;
    text-align: top;
      background-color:rgb(95, 174, 206) ; /* Green */
  border: none;
  color: white;
  padding: 40px 68px;
  font-size: 20px;
  margin-top: 20mm; 
}

#contact{
     display: flex;
    margin:0 auto;
    align-items:center;
    size: 2rem;
    font-style: Anton;
    font: bold;
    color: white;
    text-align: top;
      background-color:rgb(95, 174, 206) ; /* Green */
  border: none;
  color: white;
  padding: 30px 70px;
  font-size: 25px;
  margin-top: 20mm;  
}

#end{
  margin-top: 250mm;
  font-size: 5rem;
  text-align: top;
  text-align: center;
  font: bold;
  font-style: Anton;
  color: black ;
}
div{
  margin-top: 2px;
  font-size: 5rem;
  text-align: top;
  text-align: center;
  font: bold;
  font-style: Anton;
  color: black ;
}
